

$transition: all 250ms ease-in-out;


.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 250ms ease-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.slide {
  &-enter-active,
  &-leave-active {
    transition: all 300ms ease-in-out;
  }

  &-enter-from {
    transform: translateX(-100%);
  }
  &-leave-to {
    transform: translateX(-100%);
  }
}

