$purple: #660099;
$purple-light: #cd9ee6;
$green: #28a208;
$black: #000000;
$gray: #6c6868;
$gray-light: #f5f0f0;
$white: #fffafa;

$border-radius-1: 5px;
$border-radius-2: 10px;
$border-radius-3: 15px;

$font-size-small: 0.625rem;
$font-size-default: 1.125rem;
$font-size-large: 1.5rem;

$font-family: "Poppins";

$low-black-shadow: 0px 4px 4px 0px rgba($black, 0.25);
$medium-black-shadow: 0px 4px 20px 0px rgba($black, 0.25);

:root {
  --color-purple: #{$purple};
  --color-purple-light: #{$purple-light};
  --color-green: #{$green};
  --color-black: #{$black};
  --color-gray: #{$gray};
  --color-gray-light: #{$gray-light};
  --color-white: #{$white};

  --font-family: #{$font-family};
  --font-size-small: #{$font-size-small};
  --font-size-default: #{$font-size-default};
  --font-size-large: #{$font-size-large};


  
}
